<!-- FRONTEND- USUARIO ADMIN - BBDD M3U8 -->

<!-- EXTENDS TRAE NAVEGADOR/FOOTER PARA FRONTEND USUARIO ADMIN -->
{% extends 'layout.html' %} 

{% block body %}

<div class= "img" style="text-align: center;">

    <img src="https://imgur.com/v459J70.png"  width="100"
      height="100">
  </div>

  
<br>

  <h3 style="text-align: center;">Carga de medios - M3u8</h3>


<br><br>

<div class="col-md-10">

<form action="/agregar2" method="POST"> <!-- dirige a la ruta agregar, con método post -->

    <div class="form-group row"> <!-- Usamos 'row' para crear un grid -->
        <label for="dato1" style= "width: 20%;" class="col-sm-4 col-form-label">Reproductor</label> <!-- Alineación a la izquierda -->
        <div class="col-sm-8"> <!-- Espacio para el input -->
            <input type="text" name="dato1" placeholder="" class="form-control" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="dato2"style= "width: 20%;" class="col-sm-4 col-form-label">Tipo de Medio</label>
        <div class="col-sm-8">
            <input type="text" name="dato2" placeholder="" class="form-control" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="dato3" style= "width: 20%;"class="col-sm-4 col-form-label">Nombre del Medio</label>
        <div class="col-sm-8">
            <input type="text" name="dato3" placeholder="" class="form-control" required>
        </div>
    </div>


    <div class="form-group row">
        <label for="dato4" style= "width: 20%;"class="col-sm-4 col-form-label">Link Transmisión</label>
        <div class="col-sm-8">
            <input type="text" name="dato4" placeholder="" class="form-control" required>
        </div>
    </div>


    <div class="form-group row">
        <label for="dato5" style= "width: 20%;"class="col-sm-4 col-form-label">Link Imagen</label>
        <div class="col-sm-8">
            <input type="text" name="dato5" placeholder="" class="form-control" required>
        </div>
    </div>


    <div class="form-group row">
        <label for="dato6" style= "width: 20%;"class="col-sm-4 col-form-label">Link del Medio</label>
        <div class="col-sm-8">
            <input type="text" name="dato6" placeholder="" class="form-control" required>
        </div>
    </div>


    <br>
    <div class="form-group"> 
        <button type="submit" class="btn btn-info btn-block">Enviar</button><!-- Estilo para botón enviar -->
        <button type="reset" class="btn btn-secondary btn-block">Cancelar</button><!-- Estilo para botón cancelar -->
    </div>  
</form>
</div>


<br>

<div class="col-md-8">

    <!-- Sentencia Jinja que sirve para recibir mensaje si la BBDD se ejecutó correctamente -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<br>


<!-- Cuadro de búsqueda -->
<div class="col-md-6">
    <form action="/bbddm3u8" method="POST" class="form-inline"> <!-- Forma de búsqueda -->
        <input type="text" name="search_query" placeholder="Nombre del Medio" class="form-control" required>
        <br>
        <button type="submit" class="btn btn-info">Buscar</button>
    </form>
</div>


<br><br>




<h3>Reproductor M3u8 - Tabla de Medios</h3>

<br>
<div class="col-md-8">
    <button onclick="window.location.href='/descargar_excel2'" class="btn btn-secondary">Descargar Tabla en Excel</button>
</div>

<br><br>

<div class="col-md-12">
<table class="table table-bordeded bg-white">
<thead style="text-align:center;">
<tr class="otrosdatos">
    <td>Reproductor</td>
    <td>Tipo de Medio</td>
    <td>Nombre del Medio</td>
    <td>Link Transmisión</td>
    <td>Link Imagen</td>
    <td>Link del Medio</td>
    <td>Operaciones</td>
</tr>
</thead>
<tbody>
<!-- trae la tabla de la BBDD -->
{% for m3u8tabla in m3u8tablas %}
<tr>
<td> {{m3u8tabla.1}}</td> 
<td> {{m3u8tabla.2}}</td>
<td> {{m3u8tabla.3}}</td>
<td> {{m3u8tabla.4}}</td>
<td> {{m3u8tabla.5}}</td>
<td><a href ="{{m3u8tabla.6}}" target="_blank">{{m3u8tabla.6}}</a></td>
<td> <a href="/modificar2/{{m3u8tabla.0}}" class="btn btn-secondary">Modificar</a> <a href="/eliminar2/{{m3u8tabla.0}}" class="btn btn-danger btn-delete">Eliminar</a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<br><br>
{% endblock %}