<!-- FRONTEND- INICIO - TODOS LOS INTERNAUTAS -->

<!-- EXTENDS TRAE NAVEGADOR/FOOTER PARA FRONTEND TODOS LOS INTERNAUTAS // VERSIÓN ESCRITORIO-->
{% extends 'front-layout.html' %}

{% block body %}

<div class= "img" style="text-align: center;">

  <img src="https://imgur.com/yCR59Tr.png"  width="200"
    height="200">
</div>

<h2 class="titulotablacable">Monitoreo de señales de TV y Radios</h2>
    
       

<br> <br><br>

<div class="tabla1">

<table>
  <tr>
    <th class="thlinks"> <a href="http://localhost:3000/mix" style="text-decoration: none;"> <img src="https://imgur.com/bbBuBLS.png"  width="100"
      height="100"> </a>
    </th>
   </tr>
    <tr>
    <th class="thlinks"> Ver en vivo transmisiones - Youtube -3 pantallas - y M3u8 -3 pantallas-
    </th>

</tr>
</table>

</div>


<div class="tabla2">
<table>
  <tr>
    <th class="thlinks"> <a href="http://localhost:3000/youtube" style="text-decoration: none;">  <img src="https://imgur.com/zcU9Opj.png"   width="100"
      height="70"> </a>
    </th>
   </tr>
    <tr>
    <th class="thlinks"> Ver transmisiones en vivo - Formato Youtube -2 pantallas-
    </th>

</tr>
</table>
</div>

<div class="tabla3">
<table>
  <tr>
    <th class="thlinks"> <a href="http://localhost:3000/youtube6" style="text-decoration: none;"> <img src="https://imgur.com/zcU9Opj.png"  width="100"
      height="70"> </a>
    </th>
   </tr>
    <tr>
    <th class="thlinks"> Ver transmisiones en vivo - Formato Youtube - 6 pantallas-
    </th>

</tr>
</table>
</div>


<div class="tabla1">

<table>
  <tr>
    <th class="thlinks"> <a href="http://localhost:3000/m3u8" style="text-decoration: none;"> <img src="https://imgur.com/v459J70.png"  width="100" height="100"> </a>
    </th>
   </tr>
    <tr>
    <th class="thlinks"> Ver transmisiones en vivo - Formato M3U8 -2 pantallas-
    </th>

</tr>
</table>
</div>

<div class="tabla2">
<table>
  <tr>
    <th class="thlinks"> <a href="http://localhost:3000/m3u86" style="text-decoration: none;"> <img src="https://imgur.com/v459J70.png"  width="100" height="100"> </a>
    </th>
   </tr>
    <tr>
    <th class="thlinks"> Ver transmisiones en vivo - Formato M3U8 -6 pantallas-
    </th>

</tr>
</table>
</div>


<div class="tabla3">
<table>
  <tr>
    <th class="thlinks"> <a href="http://localhost:3000/radios" style="text-decoration: none;"> <img src="https://imgur.com/Sdn5GgS.png"  width="100" height="100"> </a>
    </th>
   </tr>
    <tr>
    <th class="thlinks"> Escuchar radios en vivo -6 reproductores-
    </th>

</tr>
</table>
</div>


<br> <br><br><br><br><br>

<h2 class="titulotablacable"> <img src="https://imgur.com/FvkTRSJ.png"  width="30" height="30"> Versión Mobile</h2>


<br> <br><br>

<div class="tabla1">
<table>
  <tr>
    <th class="thlinks"> <a href="http://localhost:3000/myoutube" style="text-decoration: none;"> <img src="https://imgur.com/zcU9Opj.png"  width="100"
      height="70"> </a>
    </th>
   </tr>
    <tr>
    <th class="thlinks"> Ver transmisiones en vivo - Formato Youtube
    </th>

</tr>
</table>
</div>


<div class="tabla3">
<table>
  <tr>
    <th class="thlinks"> <a href="http://localhost:3000/mm3u8" style="text-decoration: none;"> <img src="https://imgur.com/v459J70.png"  width="100" height="100"> </a>
    </th>
   </tr>
    <tr>
    <th class="thlinks"> Ver transmisiones en vivo - Formato M3U8
    </th>

</tr>
</table>
</div>

<div class="tabla1">
<table>
  <tr>
    <th class="thlinks"> <a href="http://localhost:3000/mradios" style="text-decoration: none;"> <img src="https://imgur.com/Sdn5GgS.png"  width="100" height="100"> </a>
    </th>
   </tr>
    <tr>
    <th class="thlinks"> Escuchar radios en vivo
    </th>

</tr>
</table>
</div>

<br> <br><br>



{% endblock %}