<!-- FRONTEND- USUARIO ADMIN - MODIFICAR BBDD OTROS DATOS-->

<!-- EXTENDS TRAE NAVEGADOR/FOOTER PARA FRONTEND USUARIO ADMIN -->
{% extends 'layout.html' %}

{% block body %}


<h3>Editar datos del medio</h3>


<br>


<div class="col-md-10">

 <!-- trae la tabla de la base de datos orgina y permitirá editarla -->
 <form action="/update5/{{ modificardatos[0] }}" method="POST">

    

        <div class="form-group row"> <!-- Usamos 'row' para crear un grid -->
            <label for="Pais" style= "width: 20%;" class="col-sm-4 col-form-label">País</label> <!-- Alineación a la izquierda -->
            <div class="col-sm-8"> <!-- Espacio para el input -->
                <input type="text" name="Pais" placeholder="" value="{{ modificardatos.1 }}" class="form-control" required>
            </div>
        </div>
    
        <div class="form-group row">
            <label for="Contenido"style= "width: 20%;" class="col-sm-4 col-form-label">Contenido de la programación</label>
            <div class="col-sm-8">
                <input type="text" name="Contenido" placeholder="" value="{{ modificardatos.2 }}" class="form-control" required>
            </div>
        </div>
    
        <div class="form-group row">
            <label for="TipoTransmision" style= "width: 20%;"class="col-sm-4 col-form-label">Tipo de Transmisión</label>
            <div class="col-sm-8">
                <input type="text" name="TipoTransmision" placeholder="" value="{{ modificardatos.3 }}" class="form-control" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="LinkAlternativo" style= "width: 20%;"class="col-sm-4 col-form-label">Link Alternativo</label>
            <div class="col-sm-8">
                <input type="text" name="LinkAlternativo" placeholder="" value="{{ modificardatos.4 }}" class="form-control" required>
            </div>
        </div>

        <br>
        <div class="form-group"> 
            <button type="submit" class="btn btn-info btn-block">Modificar</button>
            <button type="reset" class="btn btn-secondary btn-block"><a href="/otrosdatos" style="text-decoration: none;">Cancelar</a></button><!-- cancela y vuelve a inicio-->
                </div>  
    </form>
    </div>





<br><br>
{% endblock %}
